<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peoples</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <header>
        <h1>Peoples</h1>
    </header>

    <section>
        <table id="peoples-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>details</th>
                <tr>
            </thead>
        </table>
    </section>

    <script type="text/template" id="singlePerson">
        <tr>
            <td><%= id %></td>
            <td><%= first_name %></td>
            <td><%= last_name %></td>
            <td><a href="#/<%= url %><%= id %>">Details</a></td>
        </tr>
    </script>
    <script src="js/libs/jquery/dist/jquery.js"></script>
    <script src="js/libs/underscore/underscore.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>
    <script src="js/constants/AppConstants.js"></script>
    <script src="js/services/PeoplesService.js"></script>
    <script src="js/models/SinglePeopleModel.js"></script>
    <script src="js/collections/AllPeoplesCollections.js"></script>
    <script src="js/views/PeopleView.js"></script>
    <script src="js/controllers/PeopleController.js"></script>

</body>
</html>