<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peoples</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <header>
        <h1>Peoples</h1>
    </header>

    <section id="app"></section>
    <!-- TODO: look into require.js or handlebars -->
    <script type="text/template" id="peopleTemplate">        
        <section class="person">
            <h5><%= last_name %>, <%= first_name %></h5>
            <a href="#/<%= url %><%= id %>">View details</a>
        </section>
    </script>

    <script type="text/template" id="singlePersonTemplate">
        <a href="#" class="go--back">< Go back</a>
        <section class="singlePerson">
            <h5><%= last_name %>, <%= first_name%> </h5>
            <ul>
                <li>Gender: <%= gender %></li>
                <li>email: <%= email %></li>
                <li>interest: <%= interest %></li>
            </ul>
            <p><%= bio %></p>
        </section>
    </script>
    <!-- TODO: fix this make it a single js file you bring in -->
    <script src="js/libs/jquery/dist/jquery.js"></script>
    <script src="js/libs/underscore/underscore.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>
    <script src="js/constants/AppConstants.js"></script>
    <script src="js/services/PeoplesService.js"></script>
    <script src="js/models/SinglePeopleModel.js"></script>
    <script src="js/collections/AllPeoplesCollections.js"></script>
    <script src="js/views/SinglePersonView.js"></script>
    <script src="js/views/PeopleView.js"></script>
    <script src="js/controllers/PeopleController.js"></script>

</body>
</html>
